html,
body {
  width: 250px;
  background-color: #181818;
}

.col {
  float: left;
  width: 48%;
  padding: 1%;
}

.hidden {
  display: none;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #505050;
  border-radius: 5px;
  color: #FFFFFF;
}

button:hover {
  background-color: #808080;
}

button:active {
  background-color: #656565;
}